 @import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.ok {
  
}
body {  
  font-family: 'Rubik One', sans-serif; 
  background-color: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  resize: none;   
  touch-action: manipulation;
        -webkit-touch-callout:none;               
        -webkit-text-size-adjust:none;          
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-user-select:none;   
}

#container {
  text-align: center;
}

#click-counter {
  font-size: 3em;
  margin-bottom: 20px;
  transition: width 0.2s ease;
}

#progress-bar {
  width: 50vw;
  height: 20px;
  background-color: #444;
  border-radius: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #333;
}

#progress {
  height: 100%;
  background: linear-gradient(to right, #ff892a, #ffb380); 
  border-radius: 5px;
  margin-bottom: 20px;
  width: 0%; /* Начальное значение ширины */
  transition: width 0.2s ease; /* Плавный переход */
  border-radius: 8px;
  box-shadow: 0 0 10px #ff7300;
}

#click-circle {
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  background: radial-gradient(#ff892a, #ff9e55);
  cursor: pointer;
  box-shadow: 0 0 10px #ff7300;
  
}

#click-circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
  transition: transform 0.07s ease; /* Добавляем переход для анимации */
    -webkit-touch-callout:none;               
        -webkit-text-size-adjust:none;          
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-user-select:none;   
}

#click-circle:active {

  transform: scale(0.95); /* Уменьшаем размер при нажатии */}
  
 .buy-button {
  background-color: #007bff; /* Синий цвет фона */
  color: white; /* Белый цвет текста */
  padding: 8px 16px; /* Отступы для текста */
  border: none; /* Убираем рамку */
  border-radius: 4px; /* Скругленные углы */
  cursor: pointer; /* Курсор в виде указательной руки */
  margin-left: 10px; /* Отступ слева для визуальной разметки */
  transition: background-color 0.2s ease; /* Плавный переход цвета фона */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.buy-button:hover {
  background-color: #ff892a; /* Оранжевый цвет при наведении */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); /* Более сильная тень */
}

.buy-button:active {
  background-color: #ff9e55; /* Более светлый оранжевый цвет при нажатии */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Еще более сильная тень */
}

.buy-button.disabled {
  background-color: #ccc; /* Серый цвет фона */
  cursor: not-allowed; /* Запрещенный курсор */
}