 @import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.ok {
  
}
body {  
  font-family: 'Rubik One', sans-serif; 
  background-color: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  resize: none;   
  touch-action: manipulation;
}

#container {
  text-align: center;
}

#click-counter {
  font-size: 3em;
  margin-bottom: 20px;
  transition: width 0.2s ease;
}

#progress-bar {
  width: 50vw;
  height: 20px;
  background-color: #444;
  border-radius: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #333;
}

#progress {
  background-image: url("Images/Без названия70_20241021163701.png");
  height: 100%;
  background: linear-gradient(to right, #ff892a, #ffb380); 
  border-radius: 5px;
  margin-bottom: 20px;
  width: 0%; /* Начальное значение ширины */
  transition: width 0.2s ease; /* Плавный переход */
  border-radius: 8px;
  box-shadow: 0 0 10px #ff7300;
}

#click-circle {
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  background: radial-gradient(#ff892a, #ff9e55);
  cursor: pointer;
  box-shadow: 0 0 10px #ff7300;
  
}

#click-circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
  transition: transform 0.07s ease; /* Добавляем переход для анимации */
    -webkit-touch-callout:none;               
        -webkit-text-size-adjust:none;          
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-user-select:none;   
}

#click-circle:active {
  transform: scale(0.95); /* Уменьшаем размер при нажатии */
#shop {
  margin-top: 100vw;
}

 buttun {
  margin-bottom: 60vw;
  padding: 50vw 50vw;
  border-radius: 15px;
  background-color: #444; /* Темно-серый цвет */
  color: #fff; /* Белый текст */
  cursor: pointer;
  border: none; /* Убираем стандартную рамку */
  font-family: 'Arial', sans-serif; /* Выбираем шрифт */
  font-size: 2.6em; /* Увеличиваем размер шрифта */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  transition: background-color 0.3s ease; /* Добавляем плавный переход */
 }
